{
  "CN": "etcd",
  "hosts": [
    "127.0.0.1",
    {{ ETCDCACLUSTER }}
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "hangzhou",
      "L": "hangzhou",
      "O": "k8s",
      "OU": "System"
    }
  ]
}
