[Unit]
Description=Kubernetes API Server
Documentation=https://kubernetes.io/doc
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/var/lib/kubelet
ExecStart=/usr/bin/kubelet --feature-gates=RotateKubeletClientCertificate=true,RotateKubeletServerCertificate=true --rotate-certificates=true   --pod-manifest-path=/etc/kubelet.d/ --bootstrap-kubeconfig={{ KUBERNETESPATH }}/bootstrap.kubeconfig  --kubeconfig={{ KUBERNETESPATH }}/kubeconfig.yaml --logtostderr=false --log-dir={{ KUBELOGDIR }} --v=2   --pod-infra-container-image=registry.cn-hangzhou.aliyuncs.com/google_containers/pause-amd64:3.1 --rotate-certificates=true --cert-dir={{ KUBERNETESPATH }}/pki --client-ca-file={{ KUBERNETESPATH }}/pki/ca.crt  --network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cert-dir={{ KUBERNETESPATH }}/pki --config={{ KUBERNETESPATH }}/kubelet-conf.yml
Restart=on-failure
[Install]
WantedBy=multi-user.target
