KUBE_API_ARGS="--storage-backend=etcd3 \
               --etcd-servers={{ APIETCDCACLUSTER }} \
               --bind-address=0.0.0.0 \
               --secure-port=6443  \
               --insecure-port=0 \
               --service-cluster-ip-range={{ CLUSTERIPRANGE }}  \
               --service-node-port-range=1-65535 \
               --client-ca-file={{ KUBERNETESPATH }}/pki/ca.crt \
               --service-account-key-file={{ KUBERNETESPATH }}/pki/ca.crt \
               --tls-private-key-file={{ KUBERNETESPATH }}/pki/server.key  \
               --tls-cert-file={{ KUBERNETESPATH }}/pki/server.crt  \
               --enable-admission-plugins=NamespaceLifecycle,LimitRanger,SecurityContextDeny,ServiceAccount,DefaultStorageClass,ResourceQuota \
               --logtostderr=false \
               --log-dir=/var/log/kubernetes \
               --v=2" \
               --etcd-cafile={{ CAPATH }}/ca.pem \
               --etcd-certfile={{ CAPATH }}/etcd.pem \
               --etcd-keyfile={{ CAPATH }}/etcd-key.pem \
               --enable-bootstrap-token-auth \
               --token-auth-file={{ KUBERNETESPATH }}/pki/token.csv \
               --allow-privileged=true \
               --apiserver-count=3 \
               --authorization-mode=Node,RBAC \
               --kubelet-https \
               --kubelet-client-certificate=/etc/kubernetes/pki/cs_client.crt \
               --kubelet-client-key=/etc/kubernetes/pki/cs_client.key \
               --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname \
               --anonymous-auth=false

