KUBE_CONTROLLER_MANAGER_ARGS="--master=https://{{ VIP }}:8443  --service-account-private-key-file={{ KUBERNETESPATH }}/pki/server.key --logtostderr=true --log-dir={{ KUBELOGDIR }} --v=2 --root-ca-file={{ KUBERNETESPATH }}/pki/ca.crt --kubeconfig={{ KUBERNETESPATH }}/kubeconfig --leader-elect=true --experimental-cluster-signing-duration=8760h  --controllers=*,bootstrapsigner,tokencleaner --feature-gates=RotateKubeletClientCertificate=true --cluster-signing-cert-file={{ KUBERNETESPATH }}/pki/ca.crt --cluster-signing-key-file={{ KUBERNETESPATH }}/pki/ca.key --cluster-cidr={{ PODIP }} --service-cluster-ip-range={{ CLUSTERIPRANGE }} --allocate-node-cidrs=true --service-account-private-key-file=/etc/kubernetes/pki/ca.key"
